.common{
    position:absolute;
    background-color: rgb(255, 255, 255);
}

.header {
    top: 5px;
    left: 15px;
    right: 15px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
    font-size: x-large;

    display: flex;        
    align-items: center;  
    gap: 20px;  
    padding-left: 15;   
}

.header img {
    width: 120px;
}
.header h1 {
    flex: 1;               
    text-align: center;
    margin: 0;
}
.left {
    top: 115px;
    left: 15px;
    width: 200px;
    bottom: 0px;
text-align: left;
background-color: blue;
}

.right {
    top: 115px;
    right: 15px;
    width: 200px;
    bottom: 0px;
text-align: right;
background-color: rgb(47, 0, 255);
}


.main{
top: 115px;
left: 215px;
right:215px;
height:1500px;
text-align: center;

}

.footer{
bottom:5px;
height:25px;
left:15px;
right: 25px;
position: fixed;
z-index: 1;
text-align: center;

}